canvas {
    width: 100%;
    height: 100%;
    background-color: black;
  }
  
  body, html {
    height: 100%;
    margin: 0;
    text-align: center;
  }
  
  .welcome {
    background: beige;
    width: 300px;
    position: absolute;
    top: 100px;
    border-radius: 25%;
    margin: auto;
    left: 0;
    right: 0;
  }
  
  .disappear{
    z-index: -1;
  }
  